HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# client 
/src/kyc-client/.DS_Store
/src/kyc-client/node_modules
/src/kyc-client/dist


# local env files
/src/kyc-client/.env.local
/src/kyc-client/.env.*.local

# Log files
/src/kyc-client/npm-debug.log*
/src/kyc-client/yarn-debug.log*
/src/kyc-client/yarn-error.log*
/src/kyc-client/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
